.card {
    width: fit-content;
    background-color: darkgray;
    margin: 0 10px 10px 10px;
}

.center{
    justify-content: center;
    display: flex;
}

.titleCard {
    color: #2f6e96;
    font-family: 'Poppins',sans-serif;
    font-weight: 400;
    text-align: center;
}

.textLink {
    color: #2f6e96;
    font-family: 'Poppins',sans-serif;
    font-weight: 400;
    text-decoration: none;
    font-size: 18px;
}

.textLink:hover{
    text-decoration: underline;
}